
.icon-mail:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-pencil-alt:before { content: '\e803'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */